.moviesSection {
  margin-top: 36px;
}

.title {
  margin-bottom: 12px;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: -1px;
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-auto-rows: 320px;
  gap: 24px;
}

.movie {
  overflow: hidden;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}
.movieInfo {
  position: absolute;
  top: 100%;
  z-index: 9;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  transition: top 350ms ease-in-out;
  
}
.movieInfo div p {
  margin: 5px 0;
}
.movie:hover .movieInfo {
  top: 45%;
}

.movie:hover a{
 
  transform: scale(1.25);
}

@media screen and (max-width: 402px) {
  .movie:hover a{
    transform: scale(1.03);
  }
}

@media screen and (max-width: 600px) {
  .movie {
    width: 100%;
    
  }
  .movie:hover a{
    transform: scale(1.1);
  }
}
